<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<servlet>
		<servlet-name>sr1</servlet-name>
		<servlet-class>com.deb1.Send.SendRedirectDemo1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sr1</servlet-name>
		<url-pattern>/sr1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>sr2</servlet-name>
		<servlet-class>com.deb1.Send.SendRedirectDemo2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sr2</servlet-name>
		<url-pattern>/sr2</url-pattern>
	</servlet-mapping>
	
	
	<!-- =================================================  -->
	
	
	<servlet>
		<servlet-name>ss</servlet-name>
		<servlet-class>com.deb2.Send.SquareServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ss</servlet-name>
		<url-pattern>/ss</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>cs</servlet-name>
		<servlet-class>com.deb2.Send.CubeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cs</servlet-name>
		<url-pattern>/cs</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>input.html</welcome-file>
	</welcome-file-list>
	
</web-app>